/Decisiontree.ipynb
/allclassmodel.ipynb
/datasets
/loan_data.csv
/logistic regression dataset-Social_Network_Ads.csv
/logmreg.ipynb
/logreg.ipynb
/lreg.ipynb
/model_pickel
/mvlreg.ipynb
/randomfor.ipynb
/real_estate_dataset.csv
/sticker.ipynb
/submission.csv
/svm.ipynb
/train (1).csv